
IaC/.terraform/
IaC/.terraform.lock.hcl

IaC/*.tfstate
IaC/*.tfstate.*

IaC/*.tfplan

IaC/crash.log
IaC/crash.*.log

IaC/override.tf
IaC/override.tf.json
IaC/*_override.tf
IaC/*_override.tf.json

IaC/*.tfvars
IaC/*.tfvars.json

IaC/.terraformrc
IaC/terraform.rc

*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
